/* src/components/Education.css */
.container {
    margin-top: 50px;
  }
  
  h2 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }
  
  ul li::before {
    content: "\2022";
    color: #007bff;
    font-size: 1.5rem;
    padding-right: 10px;
  }
  